p{
    background-color: aquamarine;
}
a{
    background-color: rgb(255, 217, 171);
}
div{
    background-color: thistle;
}
span{
    background-color: rgb(237, 106, 106);
}
body{
    background-color: aquamarine;
}
.firstclass{
    color: rgb(255, 255, 255);
}
.mongo-db{
    background-color: rgb(35, 196, 38);
}
